html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.blinkSuccess {
    animation: backgroundSuccess 200ms ease-in-out;
}

.blinkFail {
    animation: backgroundFail 200ms ease-in-out;
}

.answerVisibleHuman {
    top: -5px !important;
    transform: rotate(-5deg) !important;
    opacity: 100%;
}

.answerVisibleAI {
    top: -35px !important;
    transform: rotate(6deg) !important;
    opacity: 100%;
}


.answer {
    transition: all 400ms ease-out;
    /*opacity: 0;*/
    height: 0 !important;
    overflow: visible;
}

.post {
    transition: max-height 800ms;

}

@keyframes backgroundSuccess {
    50% {background-color: #9ec6e7}
}

@keyframes backgroundFail {
    50% {background-color: #f8a2b3}
}