.answerVisibleHuman {
    top: 0 !important;
    transform: rotate(-5deg) !important;
}

.answerVisibleAI {
    top: -90px !important;
    transform: rotate(6deg) !important;
}


.answer {
    transition: all 200ms;
    height: 0 !important;
    overflow: visible;
}

.post {
    transition: max-height 200ms;
}